.section {
  display: flex;
  justify-content: space-between;
  padding: 30px var(--paddding-side-size) 200px 30px;
  background-color: var(--resume-section-blue-color);
  h3 {
    margin-top: 10px;
  }
  &__content {
    max-width: 887px;
    h2 {
      margin-bottom: 30px;
    }
    p {
      font-size: 24px;
      font-weight: 500;
      line-height: 32px; /* 133.333% */

      max-width: 662px;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
