@import "../../../../../../assets/styles/variables";

.complex-list {
  border-bottom: 0.071vw solid var(--resume-hr-color);
  padding: var(--paddding-side-size) 0;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  &__item {
    display: flex;
    p {
      margin-bottom: 2.14vw;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  h6 {
    width: 100%;
    min-width: 16.21vw;
    max-width: 16.21vw;
  }
}


@media screen and (max-width: $screenWidthLargest) {
  .complex-list{
    border-bottom-width: 1px;
    &__item {
      p {
        margin-bottom: 30px;
      }
    }
    h6 {
      min-width: 227px;
      max-width: 227px;
    }
  }
}

@media screen and (max-width: $screenWidthDesktop) {
  .complex-list{
    padding-left: 50px;
    &__item {
      flex-direction: column;
      p {
        margin-bottom: 20px;
      }
    }
    h6 {
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: $screenWidthDesktop) {
  .complex-list {
    padding-left: 50px;
  }
}

@media screen and (max-width: $screenWidthTabletSmall) {
  .complex-list {
    padding-left: 30px;
    padding-top: 40px;
    &__item {

    }
  }
}
