<!--TODO: use HTML5 tags like 'section'-->
<div class="resume" *ngIf="data">
  <resume-header
    (navClicked)="scrollToSection($event)"
    [nav]="data.nav"
    [fullName]="data.fullName">
  </resume-header>
  <section>
    <resume-header-section
      [header]="data.header"
      [socialItems]="data.socialItems">
    </resume-header-section>
  </section>

  <section
    id="{{data.headingSection.title}}"
    *ngIf="data.headingSection as section">
    <resume-section-container [backgroundColor]="section.backgroundColor">
      <ng-container slot="header">{{section.title}}</ng-container>
      <div class="resume__heading_content">
        <h2>{{section.header}}</h2>
        <p *ngFor="let item of section.description">{{item}}</p>
      </div>
    </resume-section-container>
  </section>

  <section *ngFor="let section of data.sections"
           id="{{section.title}}">
    <resume-section-container [backgroundColor]="section.backgroundColor">
      <ng-container slot="header">{{section.title}}</ng-container>
      <div class="resume__section_content">
        <div class="resume__section_content__item"
             *ngFor="let item of section.content">
          <resume-accordion>
            <resume-accordion-header slot="header"
                                     [header]="item.subheader"
                                     [header]="item.header">
            </resume-accordion-header>
            <resume-accordion-body [list]="item.description" slot="body"></resume-accordion-body>
          </resume-accordion>
        </div>
      </div>
    </resume-section-container>
  </section>

</div>
