@import "../assets/styles/variables";

.resume {

  &__heading_content {
    h2 {
      margin-bottom: 2.14vw;
    }
    p {
      font-size: 1.71vw;
      font-weight: 500;
      line-height: 133.333%;

      max-width: 47.29vw;
      margin-bottom: 0.71vw;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__section_content {
    &__item {
      margin-bottom: 2.86vw;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: $screenWidthLargest) {
  .resume {

    &__heading_content {
      h2 {
        margin-bottom: 30px;
      }
      p {
        font-size: 24px;
        line-height: 32px;

        max-width: 662px;
        margin-bottom: 10px;
      }
    }
    &__section_content {
      &__item {
        margin-bottom: 40px;
      }
    }
  }
}

@media screen and (max-width: $screenWidthDesktopLarge) {
  .resume {
    &__heading_content {
      h2 {
        margin-bottom: 20px;
      }
      p {
        max-width: 100%;
      }
    }
  }
}

@media screen and (max-width: $screenWidthDesktop) {
  .resume {
    &__heading_content {
      p {
        font-size: 16px;
        line-height: 20px;
      }
    }
    &__copyright {
      flex-direction: row;
    }
  }
}

@media screen and (max-width: $screenWidthMobile) {
  .resume {
    &__heading_content {
      p {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}
