<!--TODO: use HTML5 tags like 'section'-->
<ng-container *ngIf="data">
  <resume-header
    (navClicked)="scrollToSection($event)"
    [nav]="data.nav"
    [fullName]="data.fullName">
  </resume-header>
  <div class="resume">
    <section>
      <resume-section-header
        [header]="data.header"
        [socialItems]="data.socialItems">
      </resume-section-header>
    </section>

    <!---TODO: use here new control flow 'for' and 'switch' as well--->
    <section *ngFor="let section of data.sections" id="{{getSectionId(section)}}">

      <ng-container [ngSwitch]="section?.type">

        <ng-container
          *ngSwitchCase="sectionType.HEADING">
          <resume-section-container
            [color]="section?.color"
            [backgroundColor]="section?.backgroundColor">

            <ng-container slot="header">{{section.title}}</ng-container>
            <div class="resume__heading_content">
              <h2>{{section.data.header}}</h2>
              <p *ngFor="let item of section.data.description">{{item}}</p>
            </div>
          </resume-section-container>
        </ng-container>

        <resume-section-skills
          [data]="section?.data"
          *ngSwitchCase="sectionType.SKILLS"
          [color]="section?.color"
          [backgroundColor]="section?.backgroundColor">
          <ng-container slot="header">{{section.title}}</ng-container>
        </resume-section-skills>


        <resume-section-container
          *ngSwitchCase="sectionType.ADDITIONAL"
          [color]="section?.color"
          [backgroundColor]="section?.backgroundColor">
          <ng-container slot="header">{{section.title}}</ng-container>
          <div class="resume__section_content">
            <resume-section-additional
              [items]="section.data.items"
            ></resume-section-additional>
          </div>
        </resume-section-container>

        <resume-section-container
          *ngSwitchCase="sectionType.ITEMS"
          [color]="section?.color"
          [backgroundColor]="section?.backgroundColor">
          <ng-container slot="header">{{section.title}}</ng-container>
          <div class="resume__section_content">
            <div class="resume__section_content__item"
                 *ngFor="let item of section.data.content">
              <resume-accordion>
                <resume-accordion-header slot="header"
                                         [subheader]="item.subheader"
                                         [header]="item.header">
                </resume-accordion-header>
                <resume-accordion-body-list
                  slot="body"
                  [list]="item.list">
                </resume-accordion-body-list>
              </resume-accordion>
            </div>
          </div>
        </resume-section-container>

        <resume-section-container
          *ngSwitchCase="sectionType.ITEMS_DESCRIPTION"
          [color]="section?.color"
          [backgroundColor]="section?.backgroundColor">
          <ng-container slot="header">{{section.title}}</ng-container>
          <div class="resume__section_content">
            <div class="resume__section_content__item"
                 *ngFor="let item of section.data.content">
              <resume-accordion>
                <resume-accordion-header slot="header"
                                         [subheader]="item.subheader"
                                         [header]="item.header">
                </resume-accordion-header>
                <resume-accordion-list-complex
                  slot="body"
                  [complexList]="item.complexList">
                </resume-accordion-list-complex>

              </resume-accordion>
            </div>
          </div>
        </resume-section-container>

        <resume-section-container
          *ngSwitchDefault
          [color]="section?.color"
          [backgroundColor]="section?.backgroundColor">
          <ng-container slot="header">{{section.title}}</ng-container>
          <div class="resume__section_content">
          </div>
        </resume-section-container>
      </ng-container>

    </section>

    <section>
      <resume-section-footer
        [header]="data.footer"
        [fullName]="data.fullName"
        [socialItems]="data.socialItems">
      </resume-section-footer>
    </section>
  </div>
  <app-sidenav
  [sidenavTemplateRef]="navContent"
  [navWidth]="280"
  [duration]="0.5"></app-sidenav>

  <ng-template #navContent>
    <div *ngFor="let navItem of data.nav">
      {{navItem}}
    </div>
  </ng-template>
</ng-container>