<!--TODO: use HTML5 tags like 'section'-->
<div class="resume" *ngIf="data">
  <resume-header
    (navClicked)="scrollToSection($event)"
    [nav]="data.nav"
    [fullName]="data.fullName">
  </resume-header>
  <section>
    <resume-section-header
      [header]="data.header"
      [socialItems]="data.socialItems">
    </resume-section-header>
  </section>

  <section
    id="{{data.headingSection.title}}"
    *ngIf="data.headingSection as section">
    <resume-section-container
      [color]="section?.color"
      [backgroundColor]="section?.backgroundColor">

      <ng-container slot="header">{{section.title}}</ng-container>
      <div class="resume__heading_content">
        <h2>{{section.header}}</h2>
        <p *ngFor="let item of section.description">{{item}}</p>
      </div>
    </resume-section-container>
  </section>

  <!---TODO: use here new control flow 'for' --->
  <section *ngFor="let section of data.sections"
           id="{{section.title}}">
    <resume-section-container
      [color]="section?.color"
      [backgroundColor]="section?.backgroundColor">
      <ng-container slot="header">{{section.title}}</ng-container>
      <div class="resume__section_content">
        <div class="resume__section_content__item"
             *ngFor="let item of section.content">
          <resume-accordion>
            <resume-accordion-header slot="header"
                                     [subheader]="item.subheader"
                                     [header]="item.header">
            </resume-accordion-header>
            <resume-accordion-body
              slot="body"
              [description]="item.description">
            </resume-accordion-body>
          </resume-accordion>
        </div>
      </div>
    </resume-section-container>
  </section>

  <section
    *ngIf="data.additionalSection"
    id="{{data.additionalSection.title}}">
    <resume-section-container
      [color]="data.additionalSection?.color"
      [backgroundColor]="data.additionalSection?.backgroundColor">
      <ng-container slot="header">{{data.additionalSection.title}}</ng-container>
      <div class="resume__section_content">
        <resume-section-additional
          [items]="data.additionalSection.items"
        ></resume-section-additional>
      </div>
    </resume-section-container>
  </section>

  <footer>
    <resume-section-footer
      [header]="data.footer"
      [fullName]="data.fullName"
      [socialItems]="data.socialItems">
    </resume-section-footer>
  </footer>
</div>
