@import "../../../../../assets/styles/variables";

:host {
  img {
    width: 2.86vw;
    height: 2.86vw;
    transition:
      opacity .5s,
      rotate .5s;
  }

  &.opened {
    img {
      rotate: 90deg;
      opacity: 0.4;
    }
  }
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


@media screen and (max-width: $screenWidthLargest) {
  :host {
    img {
      width: 40px;
      height: 40px;
    }
  }
}
