@import "../../../assets/styles/variables";

.section__content {
  width: 100%;
  max-width: var(--sections-content-max-width);
}

@media screen and (max-width: $screenWidthDesktop) {
  .section__content {
    padding-left: 0;
  }
}

@media screen and (max-width: $screenWidthTabletSmall) {
  h3 {
    margin-bottom: 40px;
  }
}
