<div class="section">
  <div class="section__footer">
    <h1>{{header}}</h1>
    <div class="section__footer__image">
      <picture>
        <source [srcset]="imageWebPUrl" type="image/webp">
        <source [srcset]="imageUrl" type="image/jpeg"> 
        <img [src]="imageUrl" alt="cv image">
      </picture>
    </div>
  </div>
  <div class="section__bottom">
    <div class="section__social">
      <ng-container *ngFor="let item of socialItems">
        <ng-container [ngSwitch]="item.type">
          <a
            *ngSwitchCase="socialType.EMAIL"
            href="mailto:{{item.value}}">
            {{item.key}}
          </a>
          <a
            *ngSwitchCase="socialType.PHONE"
            href="tel:{{item.value}}">
            {{item.key}}
          </a>
          <a
            *ngSwitchCase="socialType.LINK"
            href="{{item.value}}"
            target=”_blank”>
            {{item.key}}
          </a>
        </ng-container>
      </ng-container>
    </div>
    <div class="section__bottom__copyright">
      <p>© {{copyrightYear}} {{fullName}}. All rights reserved.</p>
    </div>
  </div>
</div>
