<div class="section">
  <div class="section__footer">
    <h1>{{header}}</h1>
    <div class="section__footer__image">
      <img src="../../../../assets/images/header-image.png" alt="resume-image">
    </div>
  </div>
  <div class="section__social">
    <ng-container *ngFor="let item of socialItems">
      <ng-container [ngSwitch]="item.type">
        <a
          *ngSwitchCase="socialType.EMAIL"
          href="mailto:{{item.value}}">
          {{item.key}}
        </a>
        <a
          *ngSwitchCase="socialType.PHONE"
          href="tel:{{item.value}}">
          {{item.key}}
        </a>
        <a
          *ngSwitchCase="socialType.LINK"
          href="{{item.value}}"
          target=”_blank”>
          {{item.key}}
        </a>
      </ng-container>
    </ng-container>
  </div>
  <!---TODO: store image in next-gen format  + angular technique for image--->
  <div class="section__copyright">
    <p>© {{copyrightYear}} {{fullName}}. All rights reserved.</p>
  </div>
</div>
