.section {
  padding: 0 var(--paddding-side-size) 15px var(--paddding-side-size);
  background-color: var(--resume-black-color);

  &__header {
    display: flex;
    justify-content: space-between;
    padding-top: 75px;

    img {
      width: 207px;
      height: 272px;
    }
  }
  &__social {
    display: flex;
    flex-flow: column wrap;
    height: 70px;
    align-items: flex-start;
    width: fit-content;
  }
}

h1 {
  max-width: 887px;
  padding-bottom: 261px;
}

a {
  cursor: pointer;
  color: var(--resume-white-color);
  margin-right: 47px;
  margin-bottom: 15px;
}
