<h3>
  <ng-content select="[slot=header]"></ng-content>
</h3>
<div *ngFor="let skill of skills" class="skills">
  <div class="skills__header">
    <h6>{{skill.key}}</h6>
  </div>
  <div class="skills__values">
    <ng-container [ngSwitch]="skill?.flow">
      <ng-container *ngSwitchCase="sectionFlows.MULTIPLE">
        <div class="skills__values__multiple">
          <p *ngFor="let item of skill?.values">
            {{item}}
          </p>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="sectionFlows.SINGLE">
        <p *ngFor="let item of skill?.values">
          {{item}}
        </p>
      </ng-container>
    </ng-container>
  </div>
</div>
