@import "../../../assets/styles/variables";

$skillBorderColor: rgba(25, 32, 31, 0.20);

:host {
  display: flex;
  flex-direction: column;
  h3 {
    margin-bottom: 9.93vw;
  }
}

.skills {
  display: flex;
  justify-content: space-between;
  &__header {
    width: calc(100% - var(--sections-content-max-width-default));
    h6 {
      padding-bottom: 0.71vw;
    }
  }
  &__values {
    position: relative;
    width: var(--sections-content-max-width-default);

    p {
      height: fit-content;
      padding-bottom: 0.9vw;
      margin-bottom: 2.51vw;
      border-bottom: 1px solid rgba(25, 32, 31, 0.2);
      &:last-child {
        margin-bottom: 7.14vw;
      }
    }
    &__multiple {
      display: flex;
      flex-wrap: wrap;

      p {
        // &:after {
        //   content: "";
        //   flex: auto;
        // }
        // &:last-child {
        //   &:after {
        //     content: unset;
        //   }
        // }
        &.last-in-row {
          flex-grow: 100;
        }
      }
    }
  }
}

@media screen and (max-width: $screenWidthLargest) {
  .skills {
      &__header {
        h6 {
          padding-bottom: 10px;
        }
      }
      &__values {
        p {
          margin-bottom: 45px;
          &:last-child {
            margin-bottom: 100px;
          }
        }
      }
    }
    h3 {
      margin-bottom: 139px;
    }
}


@media screen and (max-width: $screenWidthDesktop) {
  :host {
    flex-direction: row;
    h3 {
      margin-bottom: 0;
    }
  }
  .skills {
    flex-direction: column;
    &__header {
      width: 100%;
    }
    &__values {
      overflow: hidden;
      padding-top: 20px;
      padding-left: 50px;
      padding-bottom: 20px;
      margin-bottom: 40px;
      p {
        margin-bottom: 20px;
        padding-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: $screenWidthTabletSmall) {
  :host {
    h3 {
      margin-bottom: 40px;
    }
  }
}
