/* You can add global styles to this file, and also import other style files */
:root {
  --resume-white-color: #FFF;
  --resume-black-color: #19201F;
  --resume-section-default-color: #E3E9EE;
  --resume-opacity-black-color: rgba(0, 0, 0, 0.40);
  --resume-hr-color: rgba(25, 32, 31, 0.20);

  --paddding-side-size-default: 30px;
  --paddding-side-size-large: 20px;
  --paddding-side-size: var(--paddding-side-size-default);

  --header-height-full: 45px;
}

html, body {
  // Maybe working only in chrome
  scroll-behavior: smooth;
}

@media screen and (max-width: 840px) {
  :root {
    --paddding-side-size: var(--paddding-side-size-large);
  }
}

@import "assets/styles/typography";


body {
  margin: 0;
}

hr {
  border-color: var(--resume-black-color);
  margin: 0;
}
