/* You can add global styles to this file, and also import other style files */
:root {
  --resume-white-color: #FFF;
  --resume-black-color: #19201F;
  --resume-opacity-black-color: rgba(0, 0, 0, 0.40);
  --resume-hr-color: rgba(25, 32, 31, 0.20);
}

@import "assets/styles/typography";


.container {
  padding: 0 30px;
}
hr {
  border-color: var(--resume-black-color);
  margin: 0;
}
