@import "assets/styles/typography";
@import "assets/styles/variables";

:root {
  --resume-white-color: #FFF;
  --resume-black-color: #19201F;
  --resume-section-default-color: #E3E9EE;
  --resume-opacity-black-color: rgba(0, 0, 0, 0.40);
  --resume-hr-color: rgba(25, 32, 31, 0.20);
  --resume-hr-color-white: rgba(255, 255, 255, 0.20);

  --paddding-side-size-default: 2.15vw;
  --padding-side-size-desktop: 30px;
  --paddding-side-size-tablet: 20px;
  --paddding-side-size-mobile: 10px;
  --paddding-side-size: var(--paddding-side-size-default);

  --header-height: 3.21vw;
  --header-height-desktop: 45px;

  --sections-content-max-width-default: 63.35vw;
  --sections-content-max-width-largest: 887px;
  --sections-content-max-width-desktop: 63.29vw;
  --sections-content-max-width-tablet-small: 100%;
}

html, body {
  // Maybe working only in chrome
  scroll-behavior: smooth;
}


body {
  margin: 0;
}

hr {
  border-color: var(--resume-black-color);
  margin: 0;
}

.desktop {
  display: flex;
}

.tablet {
  display: none;
}


@media screen and (max-width: $screenWidthLargest) {
  :root {
    --paddding-side-size: var(--padding-side-size-desktop);
    --header-height: var(--header-height-desktop);
  }
}

@media screen and (max-width: $screenWidthDesktop) {
  :root {
    --paddding-side-size: var(--paddding-side-size-tablet);
  }
  .desktop {
    display: none!important;
  }
  .tablet {
    display: flex;
  }
}

@media screen and (max-width: $screenWidthTabletSmall) {
  :root {
    --paddding-side-size: var(--paddding-side-size-mobile);
  }
}
