h1,
h2,
h4,
h3,
h5,
p,
ul li,
a {
  font-family: Inter, sans-serif;
  font-style: normal;
  margin: 0;
}
// TODO: ask Kate for fonts

h1 {
  color: var(--resume-white-color);
  font-size: 72px;
  font-weight: 500;
  line-height: 68px; /* 94.444% */
}

h2 {
  color: var(--resume-black-color);
  font-size: 48px;
  font-weight: 500;
  line-height: 52px; /* 108.333% */
}

h3 {
  color: var(--resume-black-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 16px; /* 66.667% */
}

h4 {
  color: var(--resume-black-color);
  font-size: 25px;
  font-weight: 600;
  line-height: 32px; /* 128% */
  margin-bottom: 10px;
  margin-top: 0;
}

h5, p {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px; /* 120% */
}

h5 {
  color: var(--resume-opacity-black-color);
}

p {
  color: var(--resume-black-color);
}

ul li {
  color: var(--resume-black-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 16px; /* 88.889% */
}

a {
  color: var(--resume-white-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 16px; /* 100% */
}
